/* 
 * Footer styles
 */

.site-footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: $global-padding*2 0;

  .locations {
    display: none;
  }

  a,.nav-link {
    color: $footer-link-color;
    text-decoration: underline;
  }
}

.site-footer-logo {
  // display: none
  margin: 0 auto;

  svg {
    fill: $footer-logo-fill;
  }

  img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}

.above-footer-content {
  margin-top: $global-padding;
}

.nav-footer {
  &::before {
    @extend .nav-link;
    @extend .h5;

    text-decoration: none !important;
    content: $footer-nav-title;
  }
}

.site-footer.footer-business {
  .locations {
    display: block;
  }

  .site-footer-logo {
    // display: none
    margin: 0;

    svg {
      fill: $footer-logo-fill;
    }

    img {
      max-width: 300px;
      display: block;
      margin: 0;
    }
  }

}