/* 
 * Header styles
 */

.site-header {
    margin: $header-margin;
    padding: $header-padding;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;


  .container {
    background-color: $white;
    color: color-yiq(theme-color(primary));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $global-padding;
  }
}

.site-header-logo {
  font-size: $main-nav-font-size;
  width: $header-logo-width;

  a {
    color: color-yiq(theme-color(primary));
  }
  
  figure {
    margin: 0;
  }

  img {
  }
}

.site-header .nav-bar {

}

.site-header 
  li {
    .nav-link {
      font-size: $main-nav-font-size;
      font-weight: 600;
      color: theme-color(secondary);
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: theme-color(primary);
      }
    }

    &.current {
      .nav-link {
        color: theme-color(primary);
      }
    }
  }

.site-header nav .list-inline {
  margin-bottom: 0;
}