{{/**
   * Featured Image
	 *
	 * Display a featured image at the top of the page
   *
   * @version 1.0.0
	 *
   */}}
{{ if and (or (.page.Params.featured_image.image) (.site.Data.config.media.default_featured_image.image)) ( ne ( in .site.Data.config.media.default_featured_image.excluded_pages .page.File.Path ) true )  }}
{{/* add page's featured image */}}
<div class="featured-image">
  <div class="container">
    <div class="row">
      <div class="col-12 figure-container">
        <figure>
          {{ if and ( .page.Params.featured_image.image ) }}
          {{ $image := .page.Params.featured_image.image }}
          <div class="img-container">
            <img 
              src="{{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_498,w_1024/c_scale,e_multiply,h_498,w_1024,l_blue-dark-bg" ) }}"
              srcset="
                {{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_350,w_500/c_scale,e_multiply,h_350,w_500,l_blue-dark-bg" ) | safeURL }} 500w
                {{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_700,w_1440/c_scale,e_multiply,h_700,w_1440,l_blue-dard-bg" ) | safeURL }} 1440w
              "
              {{ if isset .media "title" }} 
              title="{{ .media.title }}" 
              {{ end }}
            />
          </div>
          <!-- ( ne ( in .site.Data.config.media.default_featured_image.excluded_pages .page ) false ) -->
          {{ else if .site.Data.config.media.default_featured_image.image  }}
          {{ $image := .site.Data.config.media.default_featured_image.image }}
          <div class="img-container">
            <img 
              class="img-fluid" 
              src="{{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_498,w_1024/c_scale,e_multiply,h_498,w_1024,l_blue-dark-bg" ) }}"
              srcset="
                {{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_350,w_500/c_scale,e_multiply,h_350,w_500,l_blue-dark-bg" ) | safeURL }} 500w
                {{ partial "utilities/image-url" ( dict "page" .page "url" $image "transform" "c_fill,e_unsharp_mask:100,g_faces:center,h_700,w_1440/c_scale,e_multiply,h_700,w_1440,l_blue-dard-bg" ) | safeURL }} 1440w
              "
              {{ if isset .media "title" }} 
              title="{{ .media.title }}" 
              {{ end }}
            />
          </div>
          {{ end }}
          <figcaption>
          {{ if .media.caption }}
            {{ .media.caption | safeHTML | markdownify }}
          {{ else }}
            {{ .page.Title }}
          {{ end }}
          </figcaption>
        </figure>
        {{/*  {{ partial "components/figure" ( dict "page" .page "media" .page.Params.featured_image "transform" "c_fill,g_faces:center,h_700,w_1440") }}  */}}
      </div>
    </div>
  </div>
</div>
{{ end }}
