[submodule "themes/bugo-base-theme"]
	path = themes/bugo-base-theme
	url = https://github.com/matt-antone/bugo-base-theme.git
[submodule "themes/bugo-profiles"]
	path = themes/bugo-profiles
	url = https://github.com/matt-antone/bugo-profiles
[submodule "themes/bugo-search"]
	path = themes/bugo-search
	url = https://github.com/matt-antone/bugo-search.git
