[submodule "themes/bugo-base-theme"]
	path = themes/bugo-base-theme
	url = https://github.com/matt-antone/bugo-base-theme.git
[submodule ".forestry"]
	path = .forestry
	url = https://github.com/matt-antone/.forestry.git
