.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*disableFastRender/*
data/*
!data/template-config.yaml
!data/template-information.yaml
!data/.gitkeep
yarn-erro.log
themes/*
!themes/.gitkeep
!themes/bugo-bt/*
node_modules/*
resources/*
public/*
content/*
!content/.gitkeep
static/assets/*
!static/assets/.gitkeep
