.wrap {
  display: flex;

  main {
    display: block;
    width: 60%;
  }

  aside {
    display: block;
    width: 40%;

    .card-group {
      flex-flow: column wrap;

      > .card {
        flex: 1 1 100%;
        margin-bottom: 2rem;
        border-radius: 0;
        > * {
          border-radius: 0;
        }

        h4{
          font-size: 1.1rem;
          margin: 0;
        }
      }
    }
  }
}
