html {
  font-size: .8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: .9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

article {
  .content {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-top: $spacer * 2;
    }
  }
}

.font--1 {
  font-size: .8rem;
}

.font--2 {
  font-size: .7rem;
}

blockquote {
  padding: $spacer;
  background-color: $light;
  margin-top: $spacer * 2 !important;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0 !important;
  }

  a.btn {

  }

}
