{{/**
   * Oderllc team List Template
	 *
	 * The default list for the site.
   *
   * @version 1.0.0
	 *
   */}}

   {{ define "main" }}
   <main class="">
     <!-- <p class="post-count">{{ len .Data.Pages }} {{ .Section | pluralize }} found. </p> -->
      <div class="row mb-5" data-aos="slide-right">
      {{ range $index, $page := .Paginator.Pages }}
      {{ $page := . }}
        <div class="col-6 {{ with $page.Section }}{{ . | urlize }}-item{{ end }}">
          <div class="profile-image-container">
            {{ partial "components/thumbnail" (dict "page" . "site" .Site ) }}
            {{ with $page.Params.profile.profile_image }}
              <img 
                class="profile-image" 
                src="{{ partial "utilities/image-url" ( dict "page" $page "url" . "transform" "c_fit,h_600,w_600" ) }}"
                title="{{ $page.Title }}" 
              />
            {{ end }}

          </div>
          <article>
            <header>
              <!-- <time>{{ .Date.Format "January _2, 2006" }}</time> -->
              <h2><a href="{{ .Permalink }}">{{ .Title}}</a></h2>
            </header>
            <!-- <summary>
              <div>{{ .Summary }}</div>
            </summary> -->
          </article>
        </div>
       {{ end }}
      </div>
    <div class="pagination mt-4">
      {{ template "_internal/pagination.html" . }}
    </div>
   </main>
   {{ end }}

   {{ define "aside" }}
     <aside class="sidebar">
        {{ partial "widgets/widgets" (dict "page" .Page "site" .Site "content" .Site.Data.config.sidebar_widgets.widgets ) }}
     </aside>
   {{ end }}
