/* 
 * Page Layout styles
 */

 .page {
   .featured-image {
     margin-bottom: $global-margin;
   }

   .main-article {
     img {
       display: block;
       max-width: 100%;
       height: auto;
       margin: $global-margin auto;
     }
   }
 }