/* 
 * Column Block styles
 */

.block-columns {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @include media-breakpoint-up(lg){
      flex-wrap: nowrap;
    }

    .item-container {
      width: 100%;
    }

    .item {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100;
      padding: $global-padding;
      flex-wrap: wrap;

      @include media-breakpoint-up(md){
        flex-basis: 50%;
      }

      img {
        display: inline-block;
        max-width: 100%;
        fill: currentColor;
      }
    }
  }
}