
.block-latest-posts {
  .container {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md){
      flex-wrap: nowrap;
    }

    .item {
      flex-grow: 1;
      text-align: center;
      width: 50%;
      padding: 0 $global-padding;
      text-align: left;

      &:first-child(){
        padding-left: 0;
      }

      &:last-child(){
        padding-right: 0;
      }

      article {
        flex-direction: column;
      }

      figure {
        color: theme-color(primary);

        figcaption {
          @extend .sr-only;
        }

        img {
          display: block;
          width: 100%;
          height: 15rem;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

}