/* 
 * Latest Posts Block styles
 */

.block-latest-posts {
  .container {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md){
      flex-wrap: nowrap;
    }

    .item {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;

      @include media-breakpoint-up(sm){
        flex-basis: 33%;
      }


      text-align: center;
      padding: 0 $global-padding;
      text-align: left;

      &:first-child(){
        padding-left: 0;
      }

      &:last-child(){
        padding-right: 0;
      }

      article {
        flex-direction: column;

        header {
          h3 {
            text-transform: none;
            font-size: $h5-font-size;

            @include media-breakpoint-up(lg){
              font-size: $h3-font-size;
            }
          }
        }
      }

      figure {
        color: theme-color(primary);

        figcaption {
          @extend .sr-only;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

}