@if $auto-contrast-text-to-background == true {
  @each $color, $bgvalue in $theme-colors {
    @include bg-variant(".bg-#{$color}", $bgvalue);
    .btn-#{$color}{
      color: color-yiq($bgvalue) !important;
    }

    .bg-#{$color}{
      color: color-yiq($bgvalue);
      
      h1,h2,h3,h4,h5,h6 {
        color: color-yiq($bgvalue);
      }
      
      a {
        color: color-yiq($bgvalue);
  
        &:hover,
        &:focus{
        color: color-yiq($bgvalue);
        }
      }
  
      @each $color, $textvalue in $theme-colors {
        &.text-#{$color} {
          color: color_adjust_contrast_AERT($textvalue,$bgvalue,1,1,370,500);

          h1,h2,h3,h4,h5,h6 {
            color: color_adjust_contrast_AERT($textvalue,$bgvalue,1,1,370,500);
          }
  
          a {
            color: color_adjust_contrast_AERT($textvalue,$bgvalue,1,1,370,500);

            &:hover,
            &:focus{
              color: color_adjust_contrast_AERT($textvalue,$bgvalue,1,1,370,500);
            }
          }
        }
      }
    }
  }  
}

@if $enable-gradients {
  @each $color, $bgvalue in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $bgvalue);
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-transparent {
  background-color: transparent !important;
}


@each $color, $bgvalue in $theme-colors {
  @include bg-variant(".bg-#{$color}", $bgvalue);
  .block.bg-#{$color}{
    padding-top: $global-padding;
    padding-bottom: $global-padding;
  }
}
