/* 
 * Breadcrumb styles
 */


.breadcrumbs {
  margin: $block-margin;
  padding: $block-padding;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item {
  + .breadcrumb-item {

    &::before {

    }
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}
