/* 
 * Featured Image styles
 */

$text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
.featured-image {
  position: relative;
  margin: $featured-image-margin;
  padding: $featured-image-padding;
  height: $featured-image-height;

  @include media-breakpoint-up(md){
   height: $featured-image-md-height;
  }

  @include media-breakpoint-up(lg){
   height: $featured-image-lg-height;
  }

  @include media-breakpoint-up(xl){
   height: $featured-image-xl-height;
  }


  h1 {
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: $white;
    text-shadow: $text-shadow;
  }

  .container {
    height: inherit;

    > div {
      height: inherit;
      height: inherit;
      display: flex;
      align-items: center;

      .row {
        height: inherit;  
      }
    }
  }

  .figure-container {
    height: inherit;
  }

  figure {
    width: 100%;
    height: inherit;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    color: $white;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      overflow: hidden;
    }

    .img-container {
      width: 100vw;
      height: inherit;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: theme-color(secondary);
    }

    img {
      display: block;
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: center;
      mix-blend-mode: multiply;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        height: auto !important;
        height: none;
        transform: scale(1.2);
      }
    }

    figcaption {
      display: none;
      margin: 0;
      position: relative;
      width: 100%;
      text-align: center;
      color: $white;

      @include media-breakpoint-up(md){
        font-size: 1.5rem;
      }
    }
  }
}

.featured-image {
  button {
    background-color: transparent;
    border: none;
    color: $white;
    margin: $global-margin auto 0;
    display: inline-block;
  }
  .icon {
    @extend .svg-shadow;

    fill: $white;
    width: 60px;
    height: 60px;
  }

  .featured-image-text {
    padding-top: 96px;
    font-size: 1rem;
    text-shadow: $text-shadow;
    color: $white;

    @include media-breakpoint-up(md){
      width: 50%;
    }
  }
}

body.home {
  .featured-image {
    height: $home-featured-image-height;

    @include media-breakpoint-up(md){
    height: $home-featured-image-md-height;
    }

    @include media-breakpoint-up(lg){
    height: $home-featured-image-lg-height;
    }

    @include media-breakpoint-up(xl){
    height: $home-featured-image-xl-height;
    }
  }
}