@charset "UTF-8";
/*
 * Sass color helper - contast functions
 */
/*
 * Hilight.js
 */
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34; }

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75; }

.hljs-literal {
  color: #56b6c2; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

/*

SCSS Color Methods for Accessibility
================================================================================

Adjust given colors to ensure that those color combination provide sufficient
contrast.

@version 0.1
@link http://eye48.com/go/scsscontrast
@license http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public License (LGPL)
@author Michael Haschke, http://michael.haschke.biz/

Usage
--------------------------------------------------------------------------------

Import contrast.scss first, then use method ``color_adjust_contrast_AERT``.

```(scss)
@import 'libs/contrast';

.my-element {
    background-color: #eee;
    color: color_adjust_contrast_AERT(#ccc, #eee); // get grey with good contrast on #eee
}
```

How it works
--------------------------------------------------------------------------------

It tests for sufficent difference on brightness and color of two values. If it
is not enough contrats regarding test formulas of accessible guidelines then one
color is adjusted on lightness and saturation.

Methods using calculations from:

* "Techniques For Accessibility Evaluation And Repair Tools (AERT)" working draft,
  @see http://www.w3.org/TR/AERT#color-contrast
* TODO: add methods to test with WCAG2 formulas

*/
/**
 *
 * Global Settings
 *
 **/
.black-background-white-text {
  background-color: #000000 !important;
  color: #FFF9D0 !important; }
  .black-background-white-text h1, .black-background-white-text h2, .black-background-white-text h3, .black-background-white-text h4, .black-background-white-text h5, .black-background-white-text h6 {
    color: #FFF9D0 !important; }
    .black-background-white-text h1 a, .black-background-white-text h2 a, .black-background-white-text h3 a, .black-background-white-text h4 a, .black-background-white-text h5 a, .black-background-white-text h6 a {
      color: #FFF9D0 !important; }

.black-background-light-text {
  background-color: #000000 !important;
  color: #FFA07A !important; }
  .black-background-light-text h1, .black-background-light-text h2, .black-background-light-text h3, .black-background-light-text h4, .black-background-light-text h5, .black-background-light-text h6 {
    color: #FFF9D0 !important; }
    .black-background-light-text h1 a, .black-background-light-text h2 a, .black-background-light-text h3 a, .black-background-light-text h4 a, .black-background-light-text h5 a, .black-background-light-text h6 a {
      color: #FFF9D0 !important; }

.black-background-secondary-text {
  background-color: #000000 !important;
  color: #8BB82D !important; }
  .black-background-secondary-text h1, .black-background-secondary-text h2, .black-background-secondary-text h3, .black-background-secondary-text h4, .black-background-secondary-text h5, .black-background-secondary-text h6 {
    color: #FFF9D0 !important; }
    .black-background-secondary-text h1 a, .black-background-secondary-text h2 a, .black-background-secondary-text h3 a, .black-background-secondary-text h4 a, .black-background-secondary-text h5 a, .black-background-secondary-text h6 a {
      color: #FFF9D0 !important; }

.dark-background-white-text {
  background-color: #2C3944 !important;
  color: #FFF9D0 !important; }
  .dark-background-white-text h1, .dark-background-white-text h2, .dark-background-white-text h3, .dark-background-white-text h4, .dark-background-white-text h5, .dark-background-white-text h6 {
    color: #FFF9D0 !important; }
    .dark-background-white-text h1 a, .dark-background-white-text h2 a, .dark-background-white-text h3 a, .dark-background-white-text h4 a, .dark-background-white-text h5 a, .dark-background-white-text h6 a {
      color: #FFF9D0 !important; }

.dark-background-light-text {
  background-color: #2C3944 !important;
  color: #FFA07A !important; }
  .dark-background-light-text h1, .dark-background-light-text h2, .dark-background-light-text h3, .dark-background-light-text h4, .dark-background-light-text h5, .dark-background-light-text h6 {
    color: #FFF9D0 !important; }
    .dark-background-light-text h1 a, .dark-background-light-text h2 a, .dark-background-light-text h3 a, .dark-background-light-text h4 a, .dark-background-light-text h5 a, .dark-background-light-text h6 a {
      color: #FFF9D0 !important; }

.dark-background-secondary-text {
  background-color: #2C3944 !important;
  color: #8BB82D !important; }
  .dark-background-secondary-text h1, .dark-background-secondary-text h2, .dark-background-secondary-text h3, .dark-background-secondary-text h4, .dark-background-secondary-text h5, .dark-background-secondary-text h6 {
    color: #FFF9D0 !important; }
    .dark-background-secondary-text h1 a, .dark-background-secondary-text h2 a, .dark-background-secondary-text h3 a, .dark-background-secondary-text h4 a, .dark-background-secondary-text h5 a, .dark-background-secondary-text h6 a {
      color: #FFF9D0 !important; }

.primary-background-white-text {
  background-color: #02415D !important;
  color: #FFF9D0 !important; }
  .primary-background-white-text h1, .primary-background-white-text h2, .primary-background-white-text h3, .primary-background-white-text h4, .primary-background-white-text h5, .primary-background-white-text h6 {
    color: #FFF9D0; }
    .primary-background-white-text h1 a, .primary-background-white-text h2 a, .primary-background-white-text h3 a, .primary-background-white-text h4 a, .primary-background-white-text h5 a, .primary-background-white-text h6 a {
      color: #FFF9D0; }

.primary-background-light-text {
  background-color: #02415D !important;
  color: #FFA07A !important; }
  .primary-background-light-text h1, .primary-background-light-text h2, .primary-background-light-text h3, .primary-background-light-text h4, .primary-background-light-text h5, .primary-background-light-text h6 {
    color: #FFA07A !important; }
    .primary-background-light-text h1 a, .primary-background-light-text h2 a, .primary-background-light-text h3 a, .primary-background-light-text h4 a, .primary-background-light-text h5 a, .primary-background-light-text h6 a {
      color: #FFA07A !important; }

.primary-background-secondary-text {
  background-color: #000000 !important;
  color: #8BB82D !important; }
  .primary-background-secondary-text h1, .primary-background-secondary-text h2, .primary-background-secondary-text h3, .primary-background-secondary-text h4, .primary-background-secondary-text h5, .primary-background-secondary-text h6 {
    color: #8BB82D !important; }
    .primary-background-secondary-text h1 a, .primary-background-secondary-text h2 a, .primary-background-secondary-text h3 a, .primary-background-secondary-text h4 a, .primary-background-secondary-text h5 a, .primary-background-secondary-text h6 a {
      color: #8BB82D !important; }

.secondary-background-black-text {
  background-color: #8BB82D !important;
  color: #000000 !important; }
  .secondary-background-black-text h1, .secondary-background-black-text h2, .secondary-background-black-text h3, .secondary-background-black-text h4, .secondary-background-black-text h5, .secondary-background-black-text h6 {
    color: #000000; }
    .secondary-background-black-text h1 a, .secondary-background-black-text h2 a, .secondary-background-black-text h3 a, .secondary-background-black-text h4 a, .secondary-background-black-text h5 a, .secondary-background-black-text h6 a {
      color: #000000; }

.secondary-background-dark-text {
  background-color: #8BB82D !important;
  color: #2C3944 !important; }
  .secondary-background-dark-text h1, .secondary-background-dark-text h2, .secondary-background-dark-text h3, .secondary-background-dark-text h4, .secondary-background-dark-text h5, .secondary-background-dark-text h6 {
    color: #2C3944 !important; }
    .secondary-background-dark-text h1 a, .secondary-background-dark-text h2 a, .secondary-background-dark-text h3 a, .secondary-background-dark-text h4 a, .secondary-background-dark-text h5 a, .secondary-background-dark-text h6 a {
      color: #2C3944 !important; }

.secondary-background-primary-text {
  background-color: #8BB82D !important;
  color: #02415D !important; }
  .secondary-background-primary-text h1, .secondary-background-primary-text h2, .secondary-background-primary-text h3, .secondary-background-primary-text h4, .secondary-background-primary-text h5, .secondary-background-primary-text h6 {
    color: #02415D !important; }
    .secondary-background-primary-text h1 a, .secondary-background-primary-text h2 a, .secondary-background-primary-text h3 a, .secondary-background-primary-text h4 a, .secondary-background-primary-text h5 a, .secondary-background-primary-text h6 a {
      color: #02415D !important; }

.light-background-black-text {
  background-color: #FFA07A !important;
  color: #000000 !important; }
  .light-background-black-text h1, .light-background-black-text h2, .light-background-black-text h3, .light-background-black-text h4, .light-background-black-text h5, .light-background-black-text h6 {
    color: #000000 !important; }
    .light-background-black-text h1 a, .light-background-black-text h2 a, .light-background-black-text h3 a, .light-background-black-text h4 a, .light-background-black-text h5 a, .light-background-black-text h6 a {
      color: #000000 !important; }

.light-background-dark-text {
  background-color: #FFA07A !important;
  color: #2C3944 !important; }
  .light-background-dark-text h1, .light-background-dark-text h2, .light-background-dark-text h3, .light-background-dark-text h4, .light-background-dark-text h5, .light-background-dark-text h6 {
    color: #2C3944 !important; }
    .light-background-dark-text h1 a, .light-background-dark-text h2 a, .light-background-dark-text h3 a, .light-background-dark-text h4 a, .light-background-dark-text h5 a, .light-background-dark-text h6 a {
      color: #2C3944 !important; }

.light-background-primary-text {
  background-color: #FFA07A !important;
  color: #02415D !important; }
  .light-background-primary-text h1, .light-background-primary-text h2, .light-background-primary-text h3, .light-background-primary-text h4, .light-background-primary-text h5, .light-background-primary-text h6 {
    color: #02415D !important; }
    .light-background-primary-text h1 a, .light-background-primary-text h2 a, .light-background-primary-text h3 a, .light-background-primary-text h4 a, .light-background-primary-text h5 a, .light-background-primary-text h6 a {
      color: #02415D !important; }

.white-background-black-text {
  background-color: #FFF9D0 !important;
  color: #000000 !important; }
  .white-background-black-text h1, .white-background-black-text h2, .white-background-black-text h3, .white-background-black-text h4, .white-background-black-text h5, .white-background-black-text h6 {
    color: #000000; }
    .white-background-black-text h1 a, .white-background-black-text h2 a, .white-background-black-text h3 a, .white-background-black-text h4 a, .white-background-black-text h5 a, .white-background-black-text h6 a {
      color: #000000; }

.white-background-dark-text {
  background-color: #FFF9D0 !important;
  color: #2C3944 !important; }
  .white-background-dark-text h1, .white-background-dark-text h2, .white-background-dark-text h3, .white-background-dark-text h4, .white-background-dark-text h5, .white-background-dark-text h6 {
    color: #2C3944 !important; }
    .white-background-dark-text h1 a, .white-background-dark-text h2 a, .white-background-dark-text h3 a, .white-background-dark-text h4 a, .white-background-dark-text h5 a, .white-background-dark-text h6 a {
      color: #2C3944 !important; }

.white-background-primary-text {
  background-color: #FFF9D0 !important;
  color: #02415D !important; }
  .white-background-primary-text h1, .white-background-primary-text h2, .white-background-primary-text h3, .white-background-primary-text h4, .white-background-primary-text h5, .white-background-primary-text h6 {
    color: #02415D !important; }
    .white-background-primary-text h1 a, .white-background-primary-text h2 a, .white-background-primary-text h3 a, .white-background-primary-text h4 a, .white-background-primary-text h5 a, .white-background-primary-text h6 a {
      color: #02415D !important; }

/**
 * Global Background Color
 **/
/**
 *
 * Global Blocks
 *
 **/
/**
 *
 * Header Variables
 *
 **/
/**
 *
 * Nav Horizontal
 *
 **/
/**
 *
 * featured-image Variables
 *
 **/
/**
 *
 * Breadcrumbs
 *
 **/
/**
 *
 * Footer Variables
 *
 **/
/*!
 * Bugo Base Styles
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *
 */
/* 
 * Global Layout styles & custom classes
 */
html {
  background-color: #02415D; }

body {
  position: relative;
  background-color: #FFF9D0; }

.fill-cover, .block-slideshow figure .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.embed-responsive-hero:before {
  content: "";
  padding-bottom: 32.5%; }

.embed-responsive-item, #VideoModal iframe {
  position: relative; }
  .embed-responsive-item img, #VideoModal iframe img {
    width: 100%;
    height: 100%; }

.on-canvas {
  position: relative; }

/* 
 * Landing Page Layout styles
 */
.landing-page .site-header {
  margin-bottom: 0; }

.landing-page .site-footer {
  margin-top: 0; }

/* 
 * List Layout styles
 */
/* 
 * Page Layout styles
 */
.page .featured-image {
  margin-bottom: 2rem; }

.page .main-article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2rem auto; }

/* 
 * Post Layout styles
 */
.post main img {
  margin: 1rem 0;
  max-width: 100%;
  height: auto; }

/* 
 * Single Layout styles
 */
.single main img {
  max-width: 100%; }

pre {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  pre code,
  pre code.hljs {
    padding: 1rem; }

blockquote {
  font-size: 1.75rem;
  font-family: var(--font-family-secondary);
  line-height: 1.5; }

.svg-shadow, .featured-image .icon {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7)); }

h1, h2, h3, h4, h5, h6 {
  color: #02415D; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #02415D; }

p, ul, ol, blockquote, img {
  margin-bottom: 2rem; }

p a {
  display: inline-block;
  background-color: #ffc4ad;
  padding: 3px;
  line-height: 1.1;
  color: #2C3944; }

/* 
 * Boostrap .wrap styles
 */
.wrap.container {
  display: flex; }

main {
  width: 100%; }

.sidebar .wrap.container {
  flex-wrap: wrap; }

.sidebar main {
  width: 100%; }
  @media (min-width: 769px) {
    .sidebar main {
      width: 70%; } }

.sidebar aside {
  width: 100%; }
  @media (min-width: 769px) {
    .sidebar aside {
      width: 30%;
      padding-left: 2rem; } }

[tabindex="-1"]:focus {
  outline: 1; }

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: none !important; }

.bg-white {
  background-color: #FFF9D0 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-primary {
  background-color: #02415D !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #011e2b !important; }

.block.bg-primary {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-secondary {
  background-color: #8BB82D !important; }

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #6c8f23 !important; }

.block.bg-secondary {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-accent {
  background-color: #5d1e02 !important; }

a.bg-accent:hover, a.bg-accent:focus,
button.bg-accent:hover,
button.bg-accent:focus {
  background-color: #2b0e01 !important; }

.block.bg-accent {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-success {
  background-color: #28a745 !important; }

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important; }

.block.bg-success {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-info {
  background-color: #17a2b8 !important; }

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important; }

.block.bg-info {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-warning {
  background-color: #ffc107 !important; }

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important; }

.block.bg-warning {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-danger {
  background-color: #dc3545 !important; }

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important; }

.block.bg-danger {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-light {
  background-color: #FFA07A !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #ff7c47 !important; }

.block.bg-light {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-dark {
  background-color: #2C3944 !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #181f25 !important; }

.block.bg-dark {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-white {
  background-color: #FFF9D0 !important; }

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: #fff29d !important; }

.block.bg-white {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-black {
  background-color: #000000 !important; }

a.bg-black:hover, a.bg-black:focus,
button.bg-black:hover,
button.bg-black:focus {
  background-color: black !important; }

.block.bg-black {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-100 {
  background-color: #E1E2E5 !important; }

a.bg-gray-100:hover, a.bg-gray-100:focus,
button.bg-gray-100:hover,
button.bg-gray-100:focus {
  background-color: #c6c8cd !important; }

.block.bg-gray-100 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-200 {
  background-color: #BEC4CF !important; }

a.bg-gray-200:hover, a.bg-gray-200:focus,
button.bg-gray-200:hover,
button.bg-gray-200:focus {
  background-color: #a1a9b9 !important; }

.block.bg-gray-200 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-300 {
  background-color: #97A6BE !important; }

a.bg-gray-300:hover, a.bg-gray-300:focus,
button.bg-gray-300:hover,
button.bg-gray-300:focus {
  background-color: #788baa !important; }

.block.bg-gray-300 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-400 {
  background-color: #6C85B1 !important; }

a.bg-gray-400:hover, a.bg-gray-400:focus,
button.bg-gray-400:hover,
button.bg-gray-400:focus {
  background-color: #516b99 !important; }

.block.bg-gray-400 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-500 {
  background-color: #3D64A8 !important; }

a.bg-gray-500:hover, a.bg-gray-500:focus,
button.bg-gray-500:hover,
button.bg-gray-500:focus {
  background-color: #2f4e83 !important; }

.block.bg-gray-500 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-600 {
  background-color: #143876 !important; }

a.bg-gray-600:hover, a.bg-gray-600:focus,
button.bg-gray-600:hover,
button.bg-gray-600:focus {
  background-color: #0d234a !important; }

.block.bg-gray-600 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-700 {
  background-color: #182C4F !important; }

a.bg-gray-700:hover, a.bg-gray-700:focus,
button.bg-gray-700:hover,
button.bg-gray-700:focus {
  background-color: #0c1628 !important; }

.block.bg-gray-700 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-800 {
  background-color: #161F2F !important; }

a.bg-gray-800:hover, a.bg-gray-800:focus,
button.bg-gray-800:hover,
button.bg-gray-800:focus {
  background-color: #06080c !important; }

.block.bg-gray-800 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.bg-gray-900 {
  background-color: #0E1014 !important; }

a.bg-gray-900:hover, a.bg-gray-900:focus,
button.bg-gray-900:hover,
button.bg-gray-900:focus {
  background-color: black !important; }

.block.bg-gray-900 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

/* 
 * Global Block styles
 */
.block {
  margin: 0 0 2rem 0;
  padding: 2rem 0;
  background-size: cover;
  background-position: center; }
  .block.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .block.full-width.content-full-width .container {
      max-width: 100vw; }
  .block.small, .block.large {
    display: flex; }
    .block.small .container, .block.large .container {
      align-items: center; }
  .block.small {
    min-height: 20rem; }
  .block.large {
    min-height: 40rem; }
  .block.p-0 .container {
    padding: 0; }

body.sidebar .block.full-width {
  width: 100%;
  position: static;
  left: auto;
  -webkit-transform: none;
          transform: none; }
  body.sidebar .block.full-width.content-full-width .container {
    max-width: 100%; }

.block-title {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-top: 2rem; }

.sidebar .block.full-width {
  width: 100vw;
  position: relative; }

/* 
 * Column Block styles
 */
.block-columns .container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .block-columns .container .item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 2rem;
    flex-wrap: wrap; }
    .block-columns .container .item > *:last-child {
      margin-bottom: 0; }
  .block-columns .container.column-container-2 .item, .block-columns .container.column-container-4 .item {
    flex-basis: 100%; }
    @media (min-width: 769px) {
      .block-columns .container.column-container-2 .item, .block-columns .container.column-container-4 .item {
        flex-basis: 50%; } }
    @media (min-width: 1024px) {
      .block-columns .container.column-container-2 .item, .block-columns .container.column-container-4 .item {
        flex-basis: 0; } }
  .block-columns .container.column-container-3 .item, .block-columns .container.column-container-5 .item {
    flex-basis: 100%; }
    @media (min-width: 769px) {
      .block-columns .container.column-container-3 .item, .block-columns .container.column-container-5 .item {
        flex-basis: 33%; } }
    @media (min-width: 1024px) {
      .block-columns .container.column-container-3 .item, .block-columns .container.column-container-5 .item {
        flex-basis: 0; } }
  .block-columns .container.column-container-6 .item {
    flex-basis: 100%; }
    @media (min-width: 769px) {
      .block-columns .container.column-container-6 .item {
        flex-basis: 50%; } }
    @media (min-width: 1024px) {
      .block-columns .container.column-container-6 .item {
        flex-basis: 33%; } }
    @media (min-width: 1500px) {
      .block-columns .container.column-container-6 .item {
        flex-basis: 0 !important; } }

/* 
 * Google Map Block styles
 */
/* 
 * Latest Posts Block styles
 */
.block-latest-posts .container {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .block-latest-posts .container {
      flex-wrap: nowrap; } }
  .block-latest-posts .container .item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 2rem 2rem 0; }
    @media (min-width: 420px) {
      .block-latest-posts .container .item {
        flex-basis: 33%; } }
    .block-latest-posts .container .item:first-child {
      padding-left: 0; }
    .block-latest-posts .container .item:last-child {
      padding-right: 0; }
    .block-latest-posts .container .item article {
      flex-direction: column; }
      .block-latest-posts .container .item article header h3 {
        text-transform: none;
        font-size: 1.25rem; }
        @media (min-width: 1024px) {
          .block-latest-posts .container .item article header h3 {
            font-size: 1.75rem; } }
    .block-latest-posts .container .item .btn {
      margin-top: 2rem; }
    .block-latest-posts .container .item figure {
      color: #02415D; }
      .block-latest-posts .container .item figure figcaption {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0; }
      .block-latest-posts .container .item figure img {
        display: block;
        width: 100%;
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center; }

/* 
 * logos Block styles
 */
.block-logos .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1024px) {
    .block-logos .container {
      flex-basis: 0;
      flex-wrap: nowrap; } }
  .block-logos .container .item {
    padding: 1rem;
    display: block;
    text-align: center;
    flex-basis: 50%;
    margin-bottom: 2rem; }
    @media (min-width: 1024px) {
      .block-logos .container .item {
        flex-basis: auto;
        margin-bottom: 0; } }
    .block-logos .container .item img {
      display: inline-block;
      max-width: 66%;
      height: auto;
      max-height: 100px; }
      @media (min-width: 1024px) {
        .block-logos .container .item img {
          max-width: 75%;
          max-height: 150px; } }

/* 
 * Related Posts Block styles
 */
/* 
 * Text Slideshow Block styles
 */
/* 
 * Slideshow Block styles
 */
.block-slideshow {
  position: relative;
  padding: 0; }
  .block-slideshow .container {
    padding: 0; }
  .block-slideshow .block-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .block-slideshow figure {
    width: 100%;
    height: 100%;
    position: relative; }
    .block-slideshow figure .img-container {
      width: 100%;
      height: 100%; }
      .block-slideshow figure .img-container img {
        width: 100%;
        height: 100%; }
    .block-slideshow figure figcaption {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      font-size: 1rem;
      color: #FFF9D0;
      padding: 0.5rem;
      text-align: center;
      z-index: 100;
      background-color: #02415D; }
      .block-slideshow figure figcaption a {
        color: inherit; }

/* 
 * Breadcrumb styles
 */
.breadcrumbs {
  margin: 0;
  padding: 0; }

.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 2rem 0; }

.breadcrumb-item::before {
  content: "»" !important; }

.breadcrumb-item:first-child::before {
  display: none; }

.breadcrumb-item.active {
  color: #143876; }

#contact-form label {
  font-size: 0.8rem;
  color: #161F2F; }

/* 
 * Email List styles
 */
/* 
 * Featured Image styles
 */
.featured-image {
  position: relative;
  margin: 0;
  padding: 0;
  height: 15rem; }
  @media (min-width: 769px) {
    .featured-image {
      height: 15rem; } }
  @media (min-width: 1024px) {
    .featured-image {
      height: 15rem; } }
  @media (min-width: 1500px) {
    .featured-image {
      height: 15rem; } }
  .featured-image h1 {
    text-align: center;
    width: 100%;
    color: #FFF9D0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); }
  .featured-image .container {
    height: inherit; }
    .featured-image .container > div {
      height: inherit;
      height: inherit;
      display: flex;
      align-items: center; }
      .featured-image .container > div .row {
        height: inherit; }
  .featured-image .figure-container {
    height: inherit; }
  .featured-image figure {
    width: 100%;
    height: inherit;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    color: #FFF9D0; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .featured-image figure {
        /* IE10+ CSS styles go here */
        overflow: hidden; } }
    .featured-image figure .img-container {
      width: 100vw;
      height: inherit;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .featured-image figure img {
      display: block;
      width: 100%;
      height: inherit;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .featured-image figure img {
          /* IE10+ CSS styles go here */
          height: auto !important;
          height: none;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); } }
    .featured-image figure figcaption {
      padding-top: 5rem;
      display: block;
      margin: 0;
      position: relative;
      width: 100%;
      text-align: center;
      color: #FFF9D0; }
      @media (min-width: 769px) {
        .featured-image figure figcaption {
          font-size: 1.5rem; } }

.featured-image button {
  background-color: transparent;
  border: none;
  color: #FFF9D0;
  margin: 2rem auto 0;
  display: inline-block; }

.featured-image .icon {
  fill: #FFF9D0;
  width: 60px;
  height: 60px; }

.featured-image .featured-image-text {
  padding-top: 96px;
  font-size: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  color: #FFF9D0; }
  @media (min-width: 769px) {
    .featured-image .featured-image-text {
      width: 50%; } }

body.home .featured-image {
  height: 10rem; }
  @media (min-width: 769px) {
    body.home .featured-image {
      height: 20rem; } }
  @media (min-width: 1024px) {
    body.home .featured-image {
      height: 30rem; } }
  @media (min-width: 1500px) {
    body.home .featured-image {
      height: 40rem; } }

/* 
 * Featured Image styles
 */
.featured-image.profile-w-image {
  position: relative;
  margin: 0 0 2rem;
  padding: 0;
  height: 17rem !important; }
  @media (min-width: 420px) {
    .featured-image.profile-w-image {
      height: 20.4rem !important; } }
  @media (min-width: 769px) {
    .featured-image.profile-w-image {
      height: 25.5rem !important; } }
  @media (min-width: 1024px) {
    .featured-image.profile-w-image {
      height: 29.75rem !important; } }
  @media (min-width: 1500px) {
    .featured-image.profile-w-image {
      height: 36.125rem !important; } }
  .featured-image.profile-w-image .profile-image {
    width: 50%;
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: 0;
    z-index: 1; }
    .featured-image.profile-w-image .profile-image img {
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: bottom;
         object-position: bottom;
      mix-blend-mode: normal;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120%; }
      @media (min-width: 769px) {
        .featured-image.profile-w-image .profile-image img {
          width: 100%; } }
    .featured-image.profile-w-image .profile-image figcaption {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: inherit;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      text-align: left;
      font-size: 85%; }
      @media (min-width: 420px) {
        .featured-image.profile-w-image .profile-image figcaption {
          font-size: 100%; } }
      .featured-image.profile-w-image .profile-image figcaption .profile-meta {
        flex-basis: 100%; }
        .featured-image.profile-w-image .profile-image figcaption .profile-meta > * {
          flex-grow: 0;
          /* do not grow   - initial value: 0 */
          flex-shrink: 0;
          /* do not shrink - initial value: 1 */ }
        .featured-image.profile-w-image .profile-image figcaption .profile-meta h1 {
          flex-basis: 100%;
          /* width/height  - initial value: auto */
          font-size: 1rem; }
          @media (min-width: 420px) {
            .featured-image.profile-w-image .profile-image figcaption .profile-meta h1 {
              font-size: 2.5rem; } }
        .featured-image.profile-w-image .profile-image figcaption .profile-meta .icon {
          max-width: 15px; }
          @media (min-width: 769px) {
            .featured-image.profile-w-image .profile-image figcaption .profile-meta .icon {
              max-width: 30px; } }
        .featured-image.profile-w-image .profile-image figcaption .profile-meta div {
          flex-basis: 33%; }

/* 
 * Figure styles
 */
/* 
 * Modal styles
 */
@media (min-width: 420px) {
  .modal .modal-dialog {
    max-width: 699px; } }

@media (min-width: 769px) {
  .modal .modal-dialog {
    max-width: 768px; } }

@media (min-width: 1024px) {
  .modal .modal-dialog {
    max-width: 1024px; } }

@media (min-width: 1500px) {
  .modal .modal-dialog {
    max-width: 1400px; } }

#VideoModal .modal-body {
  padding: 0; }

/* 
 * Phone List styles
 */
.nav-main-container .search-container {
  display: none; }

.nav-secondary-container .search-container {
  padding: 0 0.5rem;
  display: none; }

aside .widget-search-form .form-group,
aside .widget-search-form button {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  font-size: 1rem !important; }

aside .widget-search-form button {
  flex-basis: 33%; }

aside .widget-search-form .form-group {
  flex-basis: 66%;
  margin-right: 0 !important; }

aside .widget-search-form .form-control {
  display: block;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  font-size: 1rem !important;
  padding-right: 2rem; }

/* 
 * Social Account List styles
 */
.icon {
  fill: #8BB82D; }

.widget {
  padding: 1rem;
  margin-bottom: 2rem; }
  .widget[class*=" bg-"] {
    padding: 2rem !important; }
  .widget .widget-title {
    margin-top: 0;
    text-transform: capitalize;
    line-height: 0.9; }
  .widget .featured-image {
    max-height: 200px; }
    .widget .featured-image figure {
      max-height: 200px; }
      .widget .featured-image figure img {
        max-height: 200px; }
  .widget .form-group {
    width: 100%; }
    .widget .form-group .form-control {
      flex-grow: 1; }

.widget-latest-posts {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 420px) {
    .widget-latest-posts {
      flex-wrap: nowrap; } }
  @media (min-width: 769px) {
    .widget-latest-posts {
      flex-wrap: wrap; } }
  .widget-latest-posts article {
    max-width: 100%; }
  .widget-latest-posts header h3 {
    text-transform: none;
    font-size: 1.25rem; }
  .widget-latest-posts .item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    margin-bottom: 2rem; }
    @media (min-width: 420px) {
      .widget-latest-posts .item {
        flex-basis: 33%;
        padding: 0 2rem; } }
    @media (min-width: 769px) {
      .widget-latest-posts .item {
        flex-basis: 100%;
        padding: 0; } }
    .widget-latest-posts .item .thumbnail .img-container .img-fluid {
      display: block; }

/* 
 * Footer styles
 */
.site-footer {
  background-color: #02415D;
  color: #FFF9D0;
  padding: 2rem 0;
  margin: 2rem 0 0; }
  .site-footer .locations {
    display: none; }
  .site-footer a, .site-footer .nav-link, .site-footer .nav-footer::before {
    color: #FFF9D0;
    text-decoration: underline; }

.site-footer-logo {
  margin: 0 auto; }
  .site-footer-logo svg {
    fill: #02415D; }
  .site-footer-logo img {
    max-width: 300px;
    display: block;
    margin: 0 auto; }

.above-footer-content {
  margin-top: 2rem; }

.nav-footer::before {
  font-size: 1.25rem;
  text-decoration: none !important;
  content: ""; }

.site-footer.footer-business .locations {
  display: block; }

.site-footer.footer-business .site-footer-logo {
  margin: 0; }
  .site-footer.footer-business .site-footer-logo svg {
    fill: #02415D; }
  .site-footer.footer-business .site-footer-logo img {
    max-width: 300px;
    display: block;
    margin: 0; }

.footer-default .site-footer-logo {
  text-align: center; }

/* 
 * Header styles
 */
.site-header {
  margin: 0 0 2rem;
  padding: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: #02415D;
  position: relative;
  position: relative; }
  .site-header.scrolled {
    background-color: #02415D;
    display: block;
    transition: all 0.5s; }
    .site-header.scrolled .nav-main-container .nav-main ul.list-inline .nav-link, .site-header.scrolled .nav-main-container .nav-main ul.list-inline .nav-footer::before {
      color: #FFF9D0; }
    .site-header.scrolled .site-header-logo svg {
      fill: #FFF9D0; }
  .site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0; }
  .site-header .search-form {
    font-size: 12px; }

.site-header-logo {
  font-size: 1.25rem;
  width: 45px;
  margin: 0 2rem 0 0; }
  .site-header-logo a {
    font-size: 1.75rem;
    color: #FFF9D0; }
  .site-header-logo figure {
    margin: 0;
    color: #02415D; }
  .site-header-logo svg {
    fill: #02415D; }
  .site-header-logo .img-container {
    fill: #02415D; }
  .site-header-logo img {
    width: 100%;
    height: auto; }

/* 
 * Nav copyright styles
 * 
 * Displays the Hugo menu named copyright
 *
 */
.nav-copyright .list-inline {
  margin: 0; }

.nav-copyright .nav-link, .nav-copyright .nav-footer::before {
  padding-top: 0;
  padding-bottom: 0;
  color: #FFF9D0; }

/* 
 * Footer Navigation styles
 * 
 * Displays the Hugo menu named footer
 *
 */
.nav-footer .list-inline {
  margin: 0; }

.nav-footer .nav-link, .nav-footer .nav-footer::before {
  padding-top: 0;
  padding-bottom: 0;
  color: #FFF9D0; }

.site-footer-logo svg {
  max-width: 200px;
  display: block;
  margin: 0 auto; }

.nav-privacy .list-inline {
  margin: 0; }

.nav-horizontal .dropdown-menu {
  margin: 0;
  border: none;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
  z-index: -2; }
  .nav-horizontal .dropdown-menu.show {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%); }
  .nav-horizontal .dropdown-menu ul {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2; }

.site-header .container {
  position: relative; }
  .site-header .container::before {
    content: " ";
    background-color: #02415D;
    display: block;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

/* 
 * Main Header Nav styles
 * 
 * Displays the Hugo menu named main
 *
 */
.nav-main-container {
  align-items: center;
  flex-grow: 1; }
  .nav-main-container .nav-main {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    .nav-main-container .nav-main ul.list-inline {
      margin: 0;
      text-align: right; }
      .nav-main-container .nav-main ul.list-inline .dropdown-menu {
        background-color: #2c7899; }
      .nav-main-container .nav-main ul.list-inline .nav-link, .nav-main-container .nav-main ul.list-inline .nav-footer::before {
        color: #FFF9D0;
        font-size: 1.25rem; }
        .nav-main-container .nav-main ul.list-inline .nav-link:hover, .nav-main-container .nav-main ul.list-inline .nav-footer:hover::before, .nav-main-container .nav-main ul.list-inline .nav-link.focus, .nav-main-container .nav-main ul.list-inline .focus.nav-footer::before {
          color: #62ccfc; }
    .nav-main-container .nav-main .nav-link-container::before {
      display: none; }
    .nav-main-container .nav-main .nav-link-container ul {
      padding: 0;
      margin: 0;
      display: block;
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2; }
      .nav-main-container .nav-main .nav-link-container ul li {
        list-style-type: none;
        margin: 0; }
        .nav-main-container .nav-main .nav-link-container ul li .dropdown-item {
          color: #FFF9D0 !important; }

div.nav-mobile {
  background-color: #02415D;
  margin: 0; }
  div.nav-mobile ul {
    margin: 0; }

nav.nav-mobile {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  nav.nav-mobile .nav-link, nav.nav-mobile .nav-footer::before {
    color: #FFF9D0;
    font-size: 1.5rem; }

/* 
 * Main Header Nav styles
 * 
 * Displays the Hugo menu named secondary
 *
 */
.nav-secondary-container {
  display: none; }
  @media (min-width: 1024px) {
    .nav-secondary-container {
      display: flex; } }
  .nav-secondary-container .nav-secondary {
    display: flex;
    align-items: center; }
  .nav-secondary-container .list-inline {
    width: 100%;
    margin: 0;
    text-align: right; }
    .nav-secondary-container .list-inline .list-inline-item:last-child .nav-link, .nav-secondary-container .list-inline .list-inline-item:last-child .nav-footer::before {
      padding-right: 1rem; }
    .nav-secondary-container .list-inline .list-inline-item .nav-link, .nav-secondary-container .list-inline .list-inline-item .nav-footer::before {
      color: #FFF9D0;
      font-size: 0.8rem;
      line-height: 1;
      padding: 1rem; }
      .nav-secondary-container .list-inline .list-inline-item .nav-link:hover, .nav-secondary-container .list-inline .list-inline-item .nav-footer:hover::before, .nav-secondary-container .list-inline .list-inline-item .nav-link.focus, .nav-secondary-container .list-inline .list-inline-item .focus.nav-footer::before {
        color: #5d1e02; }

/* 
 * Share button styles
 * 
 * Displays the Hugo menu named copyright
 *
 */
.share-buttons {
  display: none;
  width: 20vw; }
  .share-buttons a {
    display: block;
    flex-grow: 1;
    color: #02415D; }

.share-icon {
  fill: #02415D; }
