/* 
 * Footer styles
 */

.site-footer {
  background-color: $primary;
  color: color-yiq(theme-color(primary));
  padding: $global-padding;

  .locations {
    display: none;
  }
}

.site-footer-logo {
  display: none;
  img {
    max-width: 50%;
  }
}

.above-footer-content {
  margin-top: $global-padding;
}

