{{/*
	The default layout for the site, which is extended by all other layouts.
	Includes the document <head>, main navigation and page footer
*/}}
<!doctype html>
<html class="" lang="en">
{{ partial "head" . }}
<body class="{{anchorize .File.Path }}">

	{{ partial "nav-primary" . }}

	{{ partial "hero-rounded" . }}

	{{ if and (not .IsHome) (ne .Params.layout "landing") }}
		{{ partial "breadcrumbs" . }}
	{{ end }}
	<div class="wrap container">
		{{ block "main" . }}
		{{ end }}

		{{ block "aside" . }}
		{{ end }}
	</div>

	{{ partial "footer" . }}

	<!-- Javascript -->

	{{ $js := resources.Get "js/app.js" }}
	<script src="{{ $js.Permalink }}" type="text/javascript"></script>
</body>
</html>
