{{/**
   * Oderllc.com Base Template
	 *
	 * The default layout for the site, which is extended by all other layouts.
   *
   * @version 1.0.0
	 *
   */}}


{{ $scratch := newScratch }}
{{ $scratch.Set "sidebar" "" }}
{{ if and ( eq .IsHome false ) ( or (eq .Params.show_sidebar true) ( eq .Page.Layout "list" ) ( eq .Page.Layout "profile" )  ( eq .Page.Layout "post" ) ) }}
{{ $scratch.Set "sidebar" "sidebar" }}
{{ end }}

<!doctype html>
<html class="" lang="en">
  {{ partial "head" . }}

  <body class="
    {{anchorize .Title }} 
    {{anchorize .Params.layout }} 
    {{anchorize .File.Path }} 
    {{anchorize .Page.Type }}  
    {{ $scratch.Get "sidebar" }}">
    {{ partial "icons/icon_sprite" . }}
    <div class="off-canvas bg-primary text-white">
      <div class="container">
        {{ partial "nav-dropdowns-only" (dict "menu" .Site.Menus.main "location" "main" "page" .Page "site" .Site "datadisplay" "static") }}
      </div>
    </div>
    <div class="on-canvas">
      {{ partial "header" . }}
      {{ if .Params.featured_image.template }}
        {{/* use featured image template system */}}
        {{ $footer := printf "components/featured-image-%s" .Params.featured_image.template | urlize }}
        {{ partial $footer (dict "page" . "site" .Site ) }}
      {{ else }}
        {{/* use deprecated featured image */}}
        {{ partial "components/featured-image" (dict "page" . "site" .Site ) }}
      {{ end }}


      
      {{ if and (not .IsHome) (ne .Params.layout "landing") (.Site.Data.config.show_breadcrumbs) }}
      <div class="breadcrumbs w-100">
        {{ partial "components/breadcrumbs" . }}
      </div>
      {{ end }}
      <div class="wrap container">
        {{ block "main" . }}{{ end }}
        {{ block "aside" . }}{{ end }}
      </div>
      {{ if .Site.Data.config.layout_options.footer_style }}
        {{/* use footer template system */}}
        {{ $footer := printf "footer-%s" .Site.Data.config.layout_options.footer_style | urlize }}
        {{ partial $footer . }}
      {{ else }}
        {{/* use deprecated footer */}}
        {{ partial "footer" }}
      {{ end }}
      
    </div>
    {{ block "footer" . }}{{ end }}
    {{ with .Site.Data.organization.footer_dislaimer }}
    <div class="footer-disclaimer">
      <div class="container">
        {{ . | markdownify }}
      </div>
    </div>
    {{ end }}
    <!-- Javascript -->
    <script defer src="/assets/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
      /* First CSS File */
      var giftofspeed = document.createElement('link');
      giftofspeed.rel = 'stylesheet';
      giftofspeed.href = '/assets/css/main.css';
      giftofspeed.type = 'text/css';
      var godefer = document.getElementsByTagName('link')[0];
      godefer.parentNode.insertBefore(giftofspeed, godefer);
    </script>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>

</html>