{{ define "main" }}
<main>
  {{ range .Pages }}
      <article>
        {{ $page := . }}
        {{ with .Params.featured_image }}
          <img class="card-img-top w-100" src="{{ partial "image_url" (dict "page" $page "url" . "transform" "c_fill,h_225,w_400") }}" alt="Card image cap">
        {{ end }}
        <header>
          <h2><a href="{{ .Permalink }}">{{ .Title}}</a></h2>
          <date>{{ .Date.Format "_2 Jan 2006" }}</date>
        </header>
        <summary>
          <div>{{ .Summary }}</div>
        </summary>
      </article>
  {{ end }}
</main>
{{ end }}

{{ define "aside" }}
  {{ partial "aside" . }}
{{ end }}
