{{ define "main" }}
  <main>
    <article>
      {{ $page := . }}
      {{ with .Params.featured_image }}
        <img class="card-img-top w-100 mb-4" src="{{ partial "image_url" (dict "page" $page "url" . "transform" "c_fill,h_225,w_400") }}" alt="Card image cap">
      {{ end }}
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  </main>
{{ end }}

{{ define "aside" }}
  {{ partial "aside" . }}
{{ end }}
