.widget {
  padding: $global-padding/2;
  margin-bottom: $global-margin;

  &[class*=" bg-"] {
    padding: $global-padding !important;
  }

  .widget-title {
    margin-top: 0;
    text-transform: capitalize;
    line-height: 0.9;
  }

  .featured-image {
    max-height: 200px;

    figure {
      max-height: 200px;

      img {
        max-height: 200px;
      }
    }
  }

  .form-group {
    width: 100%;

    .form-control {
      flex-grow: 1;
    }
  }
}