/* 
 * Featured Image styles
 */

.featured-image.profile-w-image {
  position: relative;
  margin: $profile-featured-image-margin;
  padding: $profile-featured-image-padding;
  height: $profile-featured-image-height !important;

  @include media-breakpoint-up(sm){
   height: $profile-featured-image-sm-height !important;
  }

  @include media-breakpoint-up(md){
   height: $profile-featured-image-md-height !important;
  }

  @include media-breakpoint-up(lg){
   height: $profile-featured-image-lg-height !important;
  }

  @include media-breakpoint-up(xl){
   height: $profile-featured-image-xl-height !important;
  }

  .profile-image {
    width: 50%;
    position: relative;
    transform: none;
    left: 0;
    z-index: 1;

    img {
      object-fit: contain;
      object-position: bottom;
      mix-blend-mode: normal;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120%;

      @include media-breakpoint-up(md){
        width: 100%;
      }
    }

    figcaption {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: inherit;
      transform: translateX(100%);
      text-align: left;
      font-size: 85%;

      @include media-breakpoint-up(sm){
        font-size: 100%;
      }


      .profile-meta {
        flex-basis: 100%;

        > * {
          flex-grow: 0;     /* do not grow   - initial value: 0 */
          flex-shrink: 0;   /* do not shrink - initial value: 1 */
        }

        h1 {
          flex-basis: 100%; /* width/height  - initial value: auto */
          font-size: $h6-font-size;

          @include media-breakpoint-up(sm){
            font-size: $h1-font-size;
          }
        }

        .icon {
          max-width: 15px;

          @include media-breakpoint-up(md){
            max-width: 30px;
          }
        }

        div {
          flex-basis: 33%;
        }
      }
    }
  }
}