.site-header .search-container {
  // @if $header-search == false {
  //   display: none;
  // }

  // @if $header-search-top {
  //   position: absolute;
  //   top: $global-padding;
  //   right: $global-padding;
  // }

  // display: none;

  // @include media-breakpoint-up(lg){
  //   display: block;
  // }
}

.nav-main-container .search-container {
  @if $main-nav-search == false {
    display: none;
  }
}

.nav-secondary-container .search-container {
  padding: 0 0.5rem;

  @if $secondary-nav-search == false {
    display: none;
  }
}

aside {
  .widget-search-form {
    .form-group,
    button {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      width: auto;
      font-size: 1rem !important;
    }

    button {
      flex-basis: 33%;
    }

    .form-group {
      flex-basis: 66%;
      margin-right: 0 !important;
    }

    .form-control {
      display: block;
      flex-grow: 1;
      flex-basis: 100%;
      width: 100%;
      font-size: 1rem !important;
      padding-right: $global-padding;
    }
  }
}