{{/*
	This layout is used by the documents in the _posts/ collection
*/}}
{{ define "scratch" }}
    {{ .Scratch.Set "breadcrumbs_class" "content-narrow" }}
{{ end }}
{{ define "main" }}
    <div class="container">
				<article>
					<header>
						<h1>{{ .Title }}</h1>
					</header>
				</article>
        <div class="pure-u-1">
            <div class="content content-narrow">
                <div class="meta">
                	{{ if eq .Type "posts" }}
                		 <div class="post-date">{{ .Date.Format "_2 Jan 2006" }}</div>
                	{{ end }}
                    {{ with .Params.tags }}
                        <span class="meta-separator">&bull;</span>
                        <ul class="tags-list">
                            <li class="inline tag_list_item">Tags:</li>
                            {{ $sort := sort . }}
                            {{ $links := apply $sort "partial" "tag-link" "." }}
                            {{ $clean := apply $links "chomp" "." }}
                            <li class="inline tag_list_item">{{ delimit $clean ", " }}</li>
                        </ul>
                    {{ end }}
                </div>
                {{ .Content }}

                {{ with .Site.RegularPages.Related . }}
                <hr>
                <h2> Related Posts </h2>
                <div class="grid-layout">
                    <div class="pure-g">
                        {{ range . }}
                            {{ partial "card" . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "aside" }}
  {{ partial "aside" . }}
{{ end }}
