/* 
 * Global Layout styles & custom classes
 */

.fill-cover {
  object-fit: cover;
  object-position: center;
}

.embed-responsive-hero {
  &:before {
    content: "";
    padding-bottom: 32.5%;
  }
}


.embed-responsive-item {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}