pre {
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  code,
  code.hljs {
    padding: $global-padding/2;
  }
}

blockquote {
  @extend .h3;
  font-family: var(--font-family-secondary);
  line-height: 1.5;
}

.svg-shadow {
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, .7));
}

h1,h2,h3,h4,h5,h6 {
  color: $headings-color;
  a {
    color: $headings-color;
  }
}

p,ul,ol,blockquote,img {
  margin-bottom: 2rem;
}