/* 
 * Boostrap .wrap styles
 */

.wrap{
  &.container {
    display: flex;
  }
}

main {
  width: 100%;
}

.sidebar {
  main {
    width: 100%;
  }

  aside{
    width: 0%;
    padding-left: $global-margin;
  }
}