/* 
 * Boostrap .wrap styles
 */

.wrap{
  &.container {
    display: flex;
  }
}

main {
  width: 100%;
}

.sidebar {
  .wrap{
    &.container {
      flex-wrap: wrap;
    }
  }

  main {
    width: 100%;

    @include media-breakpoint-up(md){
      width: 70%;
    }
  }

  aside{
    width: 100%;

    @include media-breakpoint-up(md){
      width: 30%;
      padding-left: $global-margin;
    }
  }
}