<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-9">
				{{ partial "address" . }}
			</div>
			<div class="col-3">
				<ul class="list-unstyled">
				{{ range .Site.Menus.footer }}
					<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright text-center p-2">
    	<p>
        <a href="{{ "/admin" }}"></a>&copy;{{ now.Format "2006" }} {{ .Site.Title }} All Rights Reserved<br>
			</p>
	</div>
</footer>
