{{ $page := . }}
{{ if .Params.hero.show_hero }}
  <div id="banner" class="block hero hero-rounded d-flex justify-content-center align-items-stretch" style="
    {{ with .Params.hero.hero_image }}
      background-image: url({{ partial "image_url" (dict "page" $page "url" . "transform" "c_fill,h_720,w_1280") }});
    {{ end }}

    {{ with .Params.hero.color_options.text_color }}
      color: {{ . }};
    {{ end }}

    {{ with .Params.hero.color_options.bg_color }}
      background-color:  {{ . }};
    {{ end }}
  ">
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-12">
          <div class="hero-text">
            {{ .Params.hero.hero_text | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
