{{/*
	Displays the site's primary
*/}}
<header class="site-header">
  <div class="container">
		<div class="row">
			<div class="col-12">
				{{ $currentPage := . }}
				<nav class="navbar navbar-expand-lg navbar-light px-0">
					<a class="navbar-brand h1 m-0 mr-4 p-0" href="/">{{ $.Site.Title }}</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle primary">
						<span class="navbar-toggler-icon"></span>
					</button>
					{{ $currentPage := . }}
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							{{ range .Site.Menus.primary }}
								<li class="{{ if .HasChildren }}nested {{ end }}{{ if $currentPage.IsMenuCurrent "primary" . }}current{{ end }}">

								{{ if .HasChildren }}

									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{ .Name }}
									</a>
									<div class="dropdown-menu w-100 m-0 border-0 rounded-0 text-center" aria-labelledby="navbarDropdown">
										{{ range .Children }}
										<a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
										{{ end }}
									</div>

								{{ else }}

									<a class="nav-link {{ if .HasChildren }}dropdown-toggle{{ end }}" href="{{ .URL }}">
										{{ .Name }}
										{{ if .HasChildren }}
											<i class='icon-chevron-down'></i>
										{{ end }}
									</a>

								{{ end }}
							</li>
							{{ end }}
						</ul>
						<form class="form-inline my-2 my-lg-0 align-self-center" action="/search" method="get">
							<input class="form-control mr-sm-2 font--1 form-control-sm" type="search" name="s" placeholder="Search" aria-label="Search">
							<button class="btn btn-primary my-2 my-sm-0 font--1 form-control-sm" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</div>
	  </div>
	</div>
</header>
