<div class="block color-block-2" style="
  {{ safeHTMLAttr (printf "background-color: %s" .color_options.bg_color) }};
  {{ safeHTMLAttr (printf "color: %s" .color_options.text_color) }};
">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        {{ if .column_1_image }}
          <img src="{{ .column_1_image }}" class="marketing-point-image"/>
        {{ end }}
        {{ .column_1 | markdownify }}
      </div>
      <div class="col-12 col-sm-6">
        {{ if .column_2_image }}
          <img src="{{ .column_2_image }}" class="marketing-point-image"/>
        {{ end }}
        {{ .column_2 | markdownify }}
      </div>
    </div>
  </div>
</div>
