{{ $page := .Page }}
{{ range .Params.content_blocks }}
    {{ if eq "icon-block" .template }}
        <!-- Color Block -->
        {{ partial "blocks/block-icons" (dict "page" $page "block" .) }}
    {{ end }}
    {{ if eq "carousel" .template }}
        <!-- Color Block -->
        {{ partial "blocks/block-carousel" (dict "page" $page "block" .)  }}
    {{ end }}
    {{ if eq "block-1" .template }}
        <!-- Color Block -->
        {{ partial "blocks/block-1" . }}
    {{ end }}
    {{ if eq "block-2" .template }}
        <!-- Color Block 2 Column -->
        {{ partial "blocks/block-2" . }}
    {{ end }}
    {{ if eq "block-3" .template }}
        <!-- Color Block 3 Column -->
        {{ partial "blocks/block-3" . }}
    {{ end }}
    {{ if eq "block-4" .template }}
        <!-- Color Block 4 Column -->
        {{ partial "blocks/block-4" . }}
    {{ end }}
{{ end }}
