<div class="{{ if .full_viewport }}block p-0{{ else }}{{ end }} my-4">
  <div id="carouselExampleFade" class="carousel slide {{ if .fade_transition }}carousel-fade{{end}} {{ .width }} mx-auto" data-ride="carousel">
    {{ if .block.show_indicators }}
      <ol class="carousel-indicators">
        {{ range $index, $slide := .slides }}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{ $index }}" class="{{ if (eq $index 0) }}active{{ end }}"></li>
        {{ end }}
      </ol>
    {{ end }}
    <div class="carousel-inner">
      {{ $page := .page }}
      {{ range $index, $slide := .block.slides }}
        <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
          <img class="d-block w-100" src="{{ partial "image_url" (dict "page" $page "url" $slide.slide_image "transform" "c_fill,h_720,w_1280") }}" alt="Second slide">
          {{ with $slide.slide_text }}
          <div class="carousel-caption {{ $.text_vertical_alignment }} {{ $.text_horizontal_alignment}}">
            <div class="text-container">
              {{ . | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
    {{ if .block.show_previousnext }}
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    {{ end }}
  </div>
</div>
