{{/**
   * Contact Form Block
   *
   * Uses Netlify's Form Fucnctionality
   *
   * @version 1.0.0
   */}}

<section id="{{ .block.title | urlize }}" class="block block-contact-form
  {{if .block.block_options.full_width}} full-width {{end }}
  bg-{{ .block.block_options.background_color | urlize }}
  text-{{ .block.block_options.text_color | urlize }}
  {{ if .block.block_options.remove_margin }}m-0{{ end }}
  " {{ if .block.background_image.image }} style="background-image: url({{ partial "utilities/image-url" (dict "page" .page "url" .block.background_image.image "transform" "c_fill,w_1280,h_400") }});" {{ end }}>
  <div class="container">
    <h3>Send Us a Message</h3>
    <h6>Please fill out the form below for general information.</h6>
    <div>
      {{ partial "components/contact-form" }}
    </div>
  </div>
</section>