$theme-colors: (
  "primary": #095598,
);

$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  33: 33%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  66: 66%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto
);

/**
 *
 * Global Settings
 *
 **/

$global-padding: 1rem;
$global-margin: 2rem;
$auto-contrast-text-to-background: false;

/**
 *
 * Global Blocks
 *
 **/

$block-margin: 0 0 $global-margin 0;
$block-padding: $global-margin 0;

/**
 *
 * Header Variables
 *
 **/

$header-margin: 0;
$header-padding: 0 $global-margin/2;
$main-nav-font-size: 1rem;

/**
 *
 * featured-image Variables
 *
 **/

$featured-image-margin: 0;
$featured-image-padding: 0;