.widget-latest-posts {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(sm){
    flex-wrap: nowrap;
  }

  @include media-breakpoint-up(md){
    flex-wrap: wrap;
  }


  article {
    max-width: 100%;
  }

  header {
    h3 {
      text-transform: none;
      font-size: $h5-font-size;
    }
  }

  .item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;

    @include media-breakpoint-up(sm){
      flex-basis: 33%;
      padding: 0 $global-padding;
    }

    @include media-breakpoint-up(md){
      flex-basis: 100%;
      padding: 0;
    }


    .thumbnail {
      .img-container {
        .img-fluid {
          display: block;
          // display: none;
        }
      }
    }
  }
}