 //home page

.off-canvas {
  a.dropdown-item {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    width: auto;
    font-size: $font-size-lg;

    &:hover,
    &:focus {
      background-color: transparent;
      color: theme-color(secondary);
    }
  }
}

 body.home {
   .site-header-logo {
     display: none;
   }
 }

.nav-main-container .nav-main ul.list-inline {
  text-align: center;
}

.nav-main-container .nav-main ul.list-inline .list-inline-item {
  margin: 0 $global-margin/3;
}

.nav-main-container .nav-main ul.list-inline .nav-link {
  text-transform: uppercase;
}

.nav-main-container .nav-main ul.list-inline .nav-link.risk-tolerance,
.nav-main-container .nav-main ul.list-inline .nav-link.client-portal {
    @include button-variant(transparent, $white, transparent, $secondary, transparent, $secondary);
    @include button-outline-variant($white, $secondary, transparent, $secondary);
    @include button-size($btn-padding-y/4, $btn-padding-x/2, 80%, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    border-width: 1px;
    border-style: solid;
    margin: 0 $global-margin/3;
}

 #home-header {
   padding-top: $global-padding*6;
  //  margin-bottom: $global-margin;
  background-color: lighten($secondary,20%);
  background-blend-mode: multiply;

   //columns block
  .container {
   flex-wrap: wrap;   
  }

  p {
    text-align: center;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $white;
    padding-left: $global-padding;
    padding-right: $global-padding;
  }

  h1 {
    @extend .display-4;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 175px;
  }

  .item:first-child,
  .item:last-child {
    padding: $global-padding;
  }

  a {
    @include button-variant(transparent, $white, transparent, $secondary, transparent, $secondary);
    @include button-outline-variant($white, $secondary, transparent, $secondary);
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  #column-logo-column,
  #column-headline {
    //  height: 20rem;
    margin-bottom: $global-margin;
  }

  #column-logo-column {
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 33%; /* width/height  - initial value: auto */
   }

   #column-headline {
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 66%; /* width/height  - initial value: auto */
  }

  #column-client-focused,
  #column-fee-only-header,
  #column-fiduciary-responsibility {
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 100%; /* width/height  - initial value: auto */

    @include media-breakpoint-up(md){
      flex-grow: 0;     /* do not grow   - initial value: 0 */
      flex-shrink: 0;   /* do not shrink - initial value: 1 */
      flex-basis: 33%; /* width/height  - initial value: auto */
    }
  }

  #column-logo-column,
  #column-headline,
  #column-client-focused,
  #column-fee-only-header,
  #column-fiduciary-responsibility {
    text-align: center;
  }
}

// breadcrumbs
.breadcrumbs {
  padding: 0;
}

//blocks

.block {
  text-align: center;

  h2,h3,h4,h5,h6 {
    margin: 0 0 $global-margin 0;
  }

  h2 {
    @extend .h5;
  }

  p {
    text-align: left;
    margin-bottom: $global-margin*2;
  }

  ul {
    columns: 2;
    column-gap: $global-margin*2;
    text-align: left;
    
  }

  blockquote {
    p {
      text-align: center;
    }
  }

  &.block-latest-posts {
    summary {
      display: none;
    }

    .btn {
      display: none;
    }
  }

  &.block-slideshow-text {
    .carousel-inner {
      // min-height: 500px;
      padding-bottom: $global-padding*2;

      .carousel-item {
        .container {
          min-height: inherit;
          display: flex;
          align-items: center;
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 0;
    }
  }
}

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
  .block.bg-#{$color}{
    padding-top: $global-padding*2.5;
    padding-bottom: $global-padding*2.5;
  }

  .btn-outline-#{$color}{
    color: $value !important;
    border-color: $value !important;
  }
}

// typography 
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}


// footer
.site-footer {
  .location-name {
    display: none;
  }
}

body.insights {
  .posts-item {
    display: flex;

    .thumbnail {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33%;
    }

    article {
      padding-left: $global-padding*2;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 66%;

      summary {
        @extend .sr-only;
      }
    }
  }

  .widget-latest-posts {
    display: none;
  }
}

.widget-latest-posts {
  summary {
    display: none;
  }

  div.w-100 a {
    display: none;
  }
}

.shortcode-figure {
  @extend .border;
  @extend .border-primary;

  padding: $global-padding;
  max-width: 50%;
  margin: $global-margin*2 0 !important;

  img {
    width: 100%;
    max-width: 100%;
  }

  figcaption {
    margin-top: $global-margin;
  }
}

// Featured Images
.featured-image {
  figure {
    .img-container {
      background-color: lighten($primary,10%);
    }

    img {
      mix-blend-mode: multiply;
    }
  }
}
// Profiles
body.profile {
  .featured-image {
    .profile-image {
      figcaption {
        .profile-meta {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          > * {
            flex-grow: 0;
            flex-shrink: 0;

            .label,
            .text {
              display: none;
            }
          }

          .icon {
            width: 30px;
            display: block;
            margin: 0 auto;
          }

          a {
            color: $white; 
          }

          h1 {
            flex-basis: 100%;

            small {
              display: block;
              font-size: 50%;
            }
          }

          .social-list,
          .vcard,
          .email-list {
            flex-basis: 60px;
          }

          .phone-list {
            flex-basis: 100%;
            .phone {
              text-align: center;
              .icon {
                display: none;
              }
              .text {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  main {
    p:first-of-type {
      @extend .lead;
    }
  }
}

body.post,
body.page {
  article > div p:first-of-type {
    @extend .lead;
  }

  article header {
    display: none;
  }
}

.block-oderllc-contacts {
  .btn {
    padding: 0.5rem 2rem;

    &:hover,
    &:focus {
      color: $white !important;

      .icon {
        fill: $white;
      }
    }
  }
  .icon {
    width: 20px;
    fill: theme-color(primary);
  }
}

body.contact {

  #contact-form {
    margin-top: $global-margin;
    text-align: left;

    .btn {
      margin-bottom: 1rem;
    }
  }

  #main-map {
    text-align: center;

    p {
      text-align: center;
    }
  }
}