/**
 *
 * Global Settings
 *
 **/

$global-padding: 1rem;
$global-margin: 2rem;
$auto-contrast-text-to-background: false;

/**
 *
 * Global Blocks
 *
 **/

$block-margin: 0 0 $global-margin 0;
$block-padding: $global-margin 0;

/**
 *
 * Header Variables
 *
 **/

$header-margin: 0; //
$header-padding: 0; // 
$header-logo-width: 100px;
$header-logo-margin: 0 $global-margin 0 0; //
$header-logo-fill: $primary; //if svg and set to fill currentColor
$header-full-width: false; //
$header-fixed: true;
$header-background-color: $white;
$header-scrolled-background-color: $white;
$header-scrolled-color: theme-color(primary);
$header-scrolled-display: block;

$main-nav-font-size: 1rem;
$main-nav-color: theme-color(primary);
$main-nav-hover: darken($primary,20%);
$main-nav-left: true;
$main-nav-search: false;

$secondary-nav-font-size: 0.8rem;
$secondary-nav-color: $gray-800;
$secondary-nav-hover: theme-color(secondary);
$secondary-nav-top: false;
$secondary-nav-search: true;

$header-search: true;
$header-search-top: true;

/**
 *
 * Nav Horizontal
 *
 **/

$nav-horizontal-animate: down;
$nav-horizontal-animate-speed: 0.5s;
$nav-horizontal-animate-easing: ease-in-out;
$nav-horizontal-dropdown-bg: $gray-500;
$nav-horizontal-dropdown-columns: 2;
$nav-horizontal-full-width: true;

/**
 *
 * featured-image Variables
 *
 **/

$featured-image-margin: 0;
$featured-image-padding: 0;
$featured-image-height: 20rem;
$featured-image-md-height: 20rem;
$featured-image-lg-height: 30rem;
$featured-image-xl-height: 30rem;

$home-featured-image-height: 10rem;
$home-featured-image-md-height: 20rem;
$home-featured-image-lg-height: 30rem;
$home-featured-image-xl-height: 40rem;


/**
 *
 * Footer Variables
 *
 **/

$footer-logo-fill: theme-color(primary); //if svg and set to fill currentColor


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              theme-color(primary) !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$btn-border-radius:           4px !default;
$btn-border-radius-lg:        $btn-border-radius !default;
$btn-border-radius-sm:        $btn-border-radius !default;