 //home page

.off-canvas {
  a.dropdown-item {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    width: auto;
    font-size: $font-size-lg;

    &:hover,
    &:focus {
      background-color: transparent;
      color: theme-color(secondary);
    }
  }
}

 body.home {
   .site-header-logo {
     display: none;
   }
 }

.nav-main-container .nav-main ul.list-inline {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-main-container .nav-main ul.list-inline .list-inline-item {
  margin: 0 $global-margin/8;
  display: flex;
  align-items: center;
}

.nav-main-container .nav-main ul.list-inline .nav-link {
  text-transform: uppercase;
}

.nav-main-container .nav-main ul.list-inline .nav-link.risk-tolerance {
  margin-left: 1.5rem !important;
}
.nav-main-container .nav-main ul.list-inline .nav-link.risk-tolerance,
.nav-main-container .nav-main ul.list-inline .nav-link.client-portal {
    @include button-variant(transparent, $white, transparent, $secondary, transparent, $secondary);
    @include button-outline-variant($white, $secondary, transparent, $secondary);
    @include button-size($btn-padding-y/4, $btn-padding-x/2, 80%, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    border-width: 1px;
    border-style: solid;
    margin: 0;
    line-height: 1.1;

    font-size: 80%;
}

//blocks

.block {
  text-align: center;

  h2,h3,h4,h5,h6 {
    margin: 0 0 $global-margin 0;
  }

  // $h1-font-size:                $font-size-base * 2.5 !default;
  // $h2-font-size:                $font-size-base * 2 !default;
  // $h3-font-size:                $font-size-base * 1.75 !default;
  // $h4-font-size:                $font-size-base * 1.5 !default;
  // $h5-font-size:                $font-size-base * 1.25 !default;
  // $h6-font-size:

  h2 {
    font-size: $h5-font-size;
  }

  h3 {
    font-size: $h4-font-size;

    @include media-breakpoint-up(md){
      font-size: $h4-font-size
    }
    @include media-breakpoint-up(lg){
      font-size: $h3-font-size
    }
  }

  p {
    text-align: left;
    margin-bottom: $global-margin*2;
  }

  ul {
    text-align: left;

    @include media-breakpoint-up(lg){
      columns: 2;
      column-gap: $global-margin*2;
    }
  }


  &.block-latest-posts {
    summary {
      display: none;
    }

    .btn {
      display: none;
    }
  }

  &.block-slideshow-text {
    .carousel-inner {
      // min-height: 500px;
      padding-bottom: $global-padding*2;

      .carousel-item {
        .container {
          min-height: inherit;
          display: flex;
          align-items: center;
          font-size: 0.8rem;

          @include media-breakpoint-up(sm){
            font-size: 1rem;
          }



          blockquote {
            font-size: 0.8rem;

            @include media-breakpoint-up(sm){
              font-size: 1rem;
            }

            padding: 0 $global-margin*2;

            p {
              text-align: center;
            }
          }
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 0;
    }
  }
}

#home-header {
   padding-top: $global-padding*6;
  //  margin-bottom: $global-margin;
  background-color: lighten($secondary,20%);

   //columns block
  .container {
   flex-wrap: wrap;   

  p {
    text-align: center;
  }


  h1,h2,h3,h4,h5,h6 {
    color: $white;
    padding-left: $global-padding;
    padding-right: $global-padding;
  }

  h1 {
    font-size: $h5-font-size;
    padding: 0;

    @include media-breakpoint-up(sm){
      font-size: $h1-font-size;
    }

    @include media-breakpoint-up(lg){
      font-size: $display4-size;
    }
  }

  h3 {
    font-size: $h6-font-size;
    margin-bottom: $global-margin/3;
    padding: 0;

    @include media-breakpoint-up(lg){
      margin-bottom: $global-margin/2;
      font-size: $h3-font-size;
    }
  }


  img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 175px;
  }

  .item:first-child,
  .item:last-child {
    padding: $global-padding;
  }

  a {
    @include button-variant(transparent, $white, transparent, $secondary, transparent, $secondary);
    @include button-outline-variant($white, $secondary, transparent, $secondary);
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    line-height: 1.1;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  }

  #column-logo-column,
  #column-headline {
    //  height: 20rem;
    margin-bottom: $global-margin;

    @include media-breakpoint-up(md){
      margin-bottom: $global-margin;
    }
  }

  #column-logo-column {
    flex-basis: 30%; /* width/height  - initial value: auto */
    padding: 0;

    img {
      margin: 0 auto;
      max-width: 80px;
    }

    @include media-breakpoint-up(sm){
      flex-basis: 33%; /* width/height  - initial value: auto */

      img {
        max-width: 150px;
      }
    }
   }

   #column-headline {
    flex-basis: 70%; /* width/height  - initial value: auto */
    padding: 0;

    @include media-breakpoint-up(sm){
      flex-basis: 66%; /* width/height  - initial value: auto */
    }
  }

  #column-client-focused,
  #column-fee-only-header,
  #column-fiduciary-responsibility {
    flex-basis: 100%; /* width/height  - initial value: auto */

    @include media-breakpoint-up(sm){
      flex-basis: 33%; /* width/height  - initial value: auto */
    }
  }

  #column-logo-column,
  #column-headline,
  #column-client-focused,
  #column-fee-only-header,
  #column-fiduciary-responsibility {
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    text-align: center;
  }
}

// breadcrumbs
.breadcrumbs {
  padding: 0;
}


@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
  .block.bg-#{$color}{
    padding-top: $global-padding*2.5;
    padding-bottom: $global-padding*2.5;
  }

  .btn-outline-#{$color}{
    color: $value !important;
    border-color: $value !important;
  }
}

// typography 
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}


// footer
.site-footer {
  .location-name {
    display: none;
  }
}

.footer-disclaimer {
  padding: $global-padding*2 0;
  background-color: theme-color(light);
  font-size: $font-size-base*0.6;

  .container {
    @include media-breakpoint-up(md){
      columns: 2;
      column-gap: $global-margin*2;
    }
  }
}

body.insights {
  .posts-item {
    display: flex;

    .thumbnail {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33%;
    }

    article {
      padding-left: $global-padding*2;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 66%;

      summary {
        @extend .sr-only;
      }
    }
  }

  .widget-latest-posts {
    display: none;
  }
}

.widget-latest-posts {
  summary {
    display: none;
  }

  div.w-100 a {
    display: none;
  }
}

.shortcode-figure {
  @extend .border;
  @extend .border-primary;

  padding: $global-padding;
  max-width: 50%;
  margin: $global-margin*2 0 !important;

  img {
    width: 100%;
    max-width: 100%;
  }

  figcaption {
    margin-top: $global-margin;
  }
}

// Featured Images
.featured-image {
  figure {
    .img-container {
      background-color: lighten($primary,10%);
    }

    img {
    }
  }
}
// Profiles
body.profile {
  .featured-image {
    .profile-image {
      figcaption {
        .profile-meta {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          > * {
            flex-grow: 0;
            flex-shrink: 0;

            .label,
            .text {
              display: none;
            }
          }

          .icon {
            width: 30px;
            display: block;
            margin: 0 auto;
          }

          a {
            color: $white; 
          }

          h1 {
            flex-basis: 100%;

            small {
              display: block;
              font-size: 50%;
            }
          }

          .social-list,
          .vcard,
          .email-list {
            flex-basis: 60px;
          }

          .phone-list {
            flex-basis: 100%;
            .phone {
              text-align: center;
              .icon {
                display: none;
              }
              .text {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  main {
    p:first-of-type {
      @extend .lead;
    }
  }
}

body.post,
body.page {
  article > div p:first-of-type {
    @extend .lead;
  }

  main > article header {
    display: none;
  }
}

.block-oderllc-contacts {
  .btn {
    padding: 0.5rem 2rem;

    &:hover,
    &:focus {
      color: $white !important;

      .icon {
        fill: $white;
      }
    }
  }
  .icon {
    width: 20px;
    fill: theme-color(primary);
  }
}

body.contact {

  #contact-form {
    margin-top: $global-margin;
    text-align: left;

    .btn {
      margin-bottom: 1rem;
    }
  }

  #main-map {
    text-align: center;

    p {
      text-align: center;
    }
  }
}

.site-header {
  .site-header-logo {
    min-width: 150px;
    @include media-breakpoint-up(lg){
    }
  }

  .nav-main {
    .nav-link {
      padding: $global-padding/4 $global-padding/2;

      @include media-breakpoint-up(lg){
        padding: $global-padding/2 $global-padding;
      }
    }
  }
}