
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 420px,
  md: 769px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 699px,
  md: 768px,
  lg: 960px,
  xl: 1140px
) !default;

/**
 *
 * Global Settings
 *
 **/

$global-padding: 1rem;
$global-margin: 2rem;
$auto-contrast-text-to-background: false;

/**
 *
 * Global Blocks
 *
 **/

$block-margin: 0 0 $global-margin 0;
$block-padding: $global-margin 0;

/**
 *
 * Header Variables
 *
 **/

$header-margin: 0 0 $global-margin; //
$header-padding: 0; // 
$header-logo-width: 175px;
$header-logo-margin: 0 $global-margin 0 0; //
$header-logo-fill: $primary; //if svg and set to fill currentColor
$header-full-width: false; //
$header-fixed: false;
$header-background-color: $primary;
$header-scrolled-background-color: $primary;
$header-scrolled-color: $white;
$header-scrolled-display: block;
$header-float: false;

$main-nav-font-size: $font-size-lg;;
$main-nav-color: $white;
$main-nav-hover: $accent;
$main-nav-left: false;
$main-nav-search: false;

$secondary-nav-font-size: 0.8rem;
$secondary-nav-color: $white;
$secondary-nav-hover: $accent;
$secondary-nav-top: false;
$secondary-nav-search: false;

$header-search: true;
$header-search-top: true;

/**
 *
 * Nav Horizontal
 *
 **/

$nav-horizontal-animate: down;
$nav-horizontal-animate-speed: 0.5s;
$nav-horizontal-animate-easing: ease-in-out;
$nav-horizontal-dropdown-bg: $gray-500;
$nav-horizontal-dropdown-columns: 2;
$nav-horizontal-full-width: true;

/**
 *
 * featured-image Variables
 *
 **/

$featured-image-margin: 0;
$featured-image-padding: 0;
$featured-image-height: 15rem;
$featured-image-md-height: 15rem;
$featured-image-lg-height: 15rem;
$featured-image-xl-height: 15rem;

$home-featured-image-height: 10rem;
$home-featured-image-md-height: $home-featured-image-height*2;
$home-featured-image-lg-height: $home-featured-image-height*3;
$home-featured-image-xl-height: $home-featured-image-height*4;

$profile-featured-image-margin: 0 0 $global-margin;
$profile-featured-image-padding: 0;
$profile-featured-image-height: 17rem;
$profile-featured-image-sm-height: $profile-featured-image-height*1.2;
$profile-featured-image-md-height: $profile-featured-image-height*1.5;
$profile-featured-image-lg-height: $profile-featured-image-height*1.75;
$profile-featured-image-xl-height: $profile-featured-image-height*2.125;

/**
 *
 * Breadcrumbs
 *
 **/

$breadcrumbs-margin: 0;
$breadcrumbs-padding: 0;
$breadcrumbs-bg-color: transparent;
$breadcrumbs-ol-padding: $global-padding 0;
$breadcrumbs-separator: "\00BB";

/**
 *
 * Footer Variables
 *
 **/
$footer-margin: $global-margin 0 0;
$footer-padding: $global-padding*2 0;
$footer-bg-color: theme-color(primary);
$footer-text-color: $white;
$footer-link-color: $white;
$footer-logo-fill: theme-color(primary); //if svg and set to fill currentColor
$footer-logo-width: 200px;
$footer-nav-title: "Team";

