// Color system

$white:    #fff !default;
$gray-100: #E1E2E5 !default;
$gray-200: #BEC4CF !default;
$gray-300: #97A6BE !default;
$gray-400: #6C85B1 !default;
$gray-500: #3D64A8 !default;
$gray-600: #143876 !default;
$gray-700: #182C4F !default;
$gray-800: #161F2F !default;
$gray-900: #0E1014 !default;
$black:    #000000 !default;

// $grays: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $grays: map-merge(
//   (
//     "100": $gray-100,
//     "200": $gray-200,
//     "300": $gray-300,
//     "400": $gray-400,
//     "500": $gray-500,
//     "600": $gray-600,
//     "700": $gray-700,
//     "800": $gray-800,
//     "900": $gray-900
//   ),
//   $grays
// );

$blue:    c !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $colors: map-merge(
//   (
//     "blue":       $blue,
//     "indigo":     $indigo,
//     "purple":     $purple,
//     "pink":       $pink,
//     "red":        $red,
//     "orange":     $orange,
//     "yellow":     $yellow,
//     "green":      $green,
//     "teal":       $teal,
//     "cyan":       $cyan,
//     "white":      $white,
//     "gray":       $gray-600,
//     "gray-dark":  $gray-800
//   ),
//   $colors
$primary:       #034562 !default;
$secondary:     #00CFFF !default;
$accent:        adjust-hue( $primary, 180% ) !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #B3EFFF !default;
$dark:          #1C304A !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "accent":     $accent,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white,
    "black":      $black,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;


// Black Backgrounds
.black-background-white-text {
  background-color: $black !important;
  color: $white !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

.black-background-light-text {
  background-color: $black !important;
  color: $light !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

.black-background-secondary-text {
  background-color: $black !important;
  color: $secondary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

// Dark Backgrounda
.dark-background-white-text {
  background-color: $dark !important;
  color: $white !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

.dark-background-light-text {
  background-color: $dark !important;
  color: $light !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

.dark-background-secondary-text {
  background-color: $dark !important;
  color: $secondary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}


// Primary Background
.primary-background-white-text {
  background-color: $primary !important;
  color: $white !important;
  h1,h2,h3,h4,h5,h6 {
    color: $white;
    a {
      color: $white;
    }
  }
}

.primary-background-light-text {
  background-color: $primary !important;
  color: $light !important;
  h1,h2,h3,h4,h5,h6 {
    color: $light;
    a {
      color: $light;
    }
  }
}

.primary-background-secondary-text {
  background-color: $black !important;
  color: $secondary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $secondary;
    a {
      color: $secondary;
    }
  }
}

// Secondary Backgrounds
.secondary-background-black-text {
  background-color: $secondary !important;
  color: $black !important;
  h1,h2,h3,h4,h5,h6 {
    color: $black;
    a {
      color: $black;
    }
  }
}

.secondary-background-dark-text {
  background-color: $secondary !important;
  color: $dark !important;
  h1,h2,h3,h4,h5,h6 {
    color: $dark;
    a {
      color: $dark;
    }
  }
}

.secondary-background-primary-text {
  background-color: $secondary !important;
  color: $primary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $primary;
    a {
      color: $primary;
    }
  }
}

// light Backgrounds
.light-background-black-text {
  background-color: $light !important;
  color: $black !important;
  h1,h2,h3,h4,h5,h6 {
    color: $black;
    a {
      color: $black;
    }
  }
}

.light-background-dark-text {
  background-color: $light !important;
  color: $dark !important;
  h1,h2,h3,h4,h5,h6 {
    color: $dark;
    a {
      color: $dark;
    }
  }
}

.light-background-primary-text {
  background-color: $light !important;
  color: $primary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $primary;
    a {
      color: $primary;
    }
  }
}

// white Backgrounds
.white-background-black-text {
  background-color: $white !important;
  color: $black !important;
  h1,h2,h3,h4,h5,h6 {
    color: $black;
    a {
      color: $black;
    }
  }
}

.white-background-dark-text {
  background-color: $white !important;
  color: $dark !important;
  h1,h2,h3,h4,h5,h6 {
    color: $dark;
    a {
      color: $dark;
    }
  }
}

.white-background-primary-text {
  background-color: $white !important;
  color: $primary !important;
  h1,h2,h3,h4,h5,h6 {
    color: $primary;
    a {
      color: $primary;
    }
  }
}